<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<p th:if="${book.person == null}">
    The book is at the library. Do we need to assign it?
    <form th:if="${book.person == null}" th:method="PATCH" th:action="@{/books/{id}/addPerson(id=${book.getId()})}" th:object="${book}">
        <select th:field="*{person}">
            <option value="">-- Select a person --</option>
            <option th:each="person : ${people}"
                    th:value="${person.id}"
                    th:text="${person.name}"
                    th:selected="${book.person != null and person.id == book.person}">Person</option>
        </select>
    <input type="submit" value="Assign"/>
    </form>
</p>
<p th:if="${book.person != null}">
    These book is assigned to <span th:text="${person.getName()}"> </span>
    <form th:if="${book.person != null}" th:method="DELETE" th:action="@{/books/{id}/addPerson(id=${book.getId()})}" th:object="${book}">
        <input type="submit" value="Unassign">
    </form>
</p>
<br/>

<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>